@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewMedium-Obl.eot");
  src: local("Futura New Medium Obl") local("FuturaNewMedium-Obl");
  src: url("../fonts/FuturaNewMedium-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewMedium-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewMedium-Obl.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Obl.eot");
  src: local("Futura New Demi Obl") local("FuturaNewDemi-Obl");
  src: url("../fonts/FuturaNewDemi-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewDemi-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewDemi-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewMedium-Reg.eot");
  src: local("Futura New Medium Reg") local("FuturaNewMedium-Reg");
  src: url("../fonts/FuturaNewMedium-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewMedium-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewMedium-Reg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewHeavy-Reg.eot");
  src: local("Futura New Heavy Reg") local("FuturaNewHeavy-Reg");
  src: url("../fonts/FuturaNewHeavy-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewHeavy-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewHeavy-Reg.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewLight-Obl.eot");
  src: local("Futura New Light Obl") local("FuturaNewLight-Obl");
  src: url("../fonts/FuturaNewLight-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewLight-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewLight-Obl.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Obl.eot");
  src: local("Futura New Book Obl") local("FuturaNewBook-Obl");
  src: url("../fonts/FuturaNewBook-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBook-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewBook-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewExtraBold-Obl.eot");
  src: local("Futura New ExtraBold Obl") local("FuturaNewExtraBold-Obl");
  src: url("../fonts/FuturaNewExtraBold-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewExtraBold-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewExtraBold-Obl.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: local("Futura New Book Reg") local("FuturaNewBook-Reg");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBook-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewBook-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Obl.eot");
  src: local("Futura New Bold Obl") local("FuturaNewBold-Obl");
  src: url("../fonts/FuturaNewBold-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBold-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewBold-Obl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewExtraBold-Reg.eot");
  src: local("Futura New ExtraBold Reg") local("FuturaNewExtraBold-Reg");
  src: url("../fonts/FuturaNewExtraBold-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewExtraBold-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewExtraBold-Reg.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: local("Futura New Light Reg") local("FuturaNewLight-Reg");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewLight-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewLight-Reg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: local("Futura New Demi Reg") local("FuturaNewDemi-Reg");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewDemi-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Reg.eot");
  src: local("Futura New Bold Reg") local("FuturaNewBold-Reg");
  src: url("../fonts/FuturaNewBold-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBold-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewBold-Reg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewHeavy-Obl.eot");
  src: local("Futura New Heavy Obl") local("FuturaNewHeavy-Obl");
  src: url("../fonts/FuturaNewHeavy-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewHeavy-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewHeavy-Obl.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@supports (-webkit-appearance:none){

}
