@charset "UTF-8";

/* Экраны */

/* Цвета */

/*Общие стили*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.screen {
  height: 90vh;
  display: grid;
}

.container {
  height: 100%;
  max-width: 1000px;
  width: 92%;
  margin: 0 auto;
}

picture {
  display: grid;
}

.plain-text {
  font-size: 19px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.4;
}

.plain-text-2 {
  font-size: 20.5px;
  font-family: sans-serif;
  line-height: 1.4;
}

.plain-title {
  font-size: 34px;
  color: #7f7f7f;
  font-family: sans-serif;
}

.big-title {
  font-family: sans-serif;
  gap: 15px;
  color: #7f7f7f;
}

.big-title__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 41px;
}

.big-title svg {
  height: 60px;
  width: 74px;
}

.big-title__subtitle {
  font-size: 20px;
  width: 46%;
  margin-top: 13px;
  margin-left: auto;
  font-weight: normal;
}
@supports (-webkit-appearance:none){

}
