@charset "UTF-8";

/* Экраны */

/* Цвета */

/*Общие стили*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.screen {
  display: grid;
}

.container {
  height: 100%;
  max-width: 1000px;
  width: 92%;
  margin: 0 auto;
}

picture {
  display: grid;
}

.plain-text {
  font-size: 19px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.4;
}

.plain-text-2 {
  font-size: 20.5px;
  font-family: sans-serif;
  line-height: 1.4;
}

.plain-title {
  font-size: 34px;
  color: #7f7f7f;
  font-family: sans-serif;
}

.big-title {
  font-family: sans-serif;
  gap: 15px;
  color: #7f7f7f;
}

.big-title__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 41px;
  gap: 10px;
}

.big-title svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.big-title__subtitle {
  font-size: 20px;
  width: 46%;
  margin-top: 13px;
  margin-left: auto;
  font-weight: normal;
  text-align: right;
  margin-right: 25px;
}

.slick-arrow {
  height: 30px !important;
  width: 30px !important;
  margin: 10px;
  z-index: 100;
}

.slick-arrow svg {
  width: 100%;
  height: 100%;
}

.slick-arrow::before {
  content: "";
  display: none;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}

.main-screen {
  background-image: url(../img/1.png);
  background-size: cover;
  position: relative;
  min-height: 90vh;
}

.main-screen .container {
  display: grid;
  grid-template-rows: 2fr;
  padding-bottom: 40px;
  gap: 20px;
}

.main-screen__description {
  margin-right: 50px;
  margin-left: auto;
  width: 45%;
  grid-column: 1/2;
  grid-row: 2/3;
  place-self: end;
  background: #ffffff99;
  padding: 10px;
  border-radius: 5px;
}

.main-screen .h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: auto;
  text-align: center;
  font-size: 45px;
  display: grid;
  place-items: center;
  background: #ffffff99;
  padding: 15px;
  border-radius: 10px;
}

.main-screen .h1 .company-name {
  font-size: 60px;
}

.production-screen {
  color: #7f7f7f;
}

.production-screen .h2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.production-screen__description {
  position: relative;
  width: 72%;
  justify-self: end;
  right: 40px;
  margin-left: auto;
  margin-top: 71px;
  margin-bottom: 20px;
}

.production-screen .pic-grid {
  margin-top: 0px;
  display: grid;
  gap: 0px 50px;
  grid-template-columns: 2fr 1.2fr;
}

.production-screen .pic-grid * {
  max-width: 100%;
}

.production-screen__lamps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
  padding-left: 57px;
}

.production-screen__desc-1 {
  width: 60%;
  margin-left: 10px;
}

.production-screen__desc-2 {
  grid-row: 3/4;
  grid-column: 2/3;
  margin-top: 65px;
  margin-left: 5px;
}

.assortment-screen .content-wrapper {
  width: 78%;
  margin: auto;
}

.assortment-screen__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 50px;
}

.assortment-screen__grid * {
  width: 100%;
}

.assortment-screen .h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 31px;
}

.assortment-screen__product {
  position: relative;
}

.assortment-screen__product-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #7f7f7f;
  text-transform: uppercase;
  font-family: sans-serif;
}

.assortment-screen__download {
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  margin-top: 85px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #0000;
}

.assortment-screen__download:hover {
  border-bottom: 2px solid black;
}

.assortment-screen__download a {
  text-decoration: none;
  color: black;
}

.project-sol-screen .h2 {
  margin-bottom: 51px;
}

.project-sol-screen__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.project-sol-screen__block {
  padding: 0 25px;
  display: grid;
  gap: 30px;
}

.project-sol-screen__block img {
  width: 100%;
}

.project-sol-screen__block--1 {
  grid-template-columns: 1fr 1.2fr;
}

.project-sol-screen__block--1 img {
  border-radius: 0 50% 50% 0;
}

.project-sol-screen__block--2 {
  grid-template-columns: 1.2fr 1fr;
}

.project-sol-screen__block--2 img {
  border-radius: 50% 0 0 50%;
}

.project-sol-screen__block-text {
  color: #7f7f7f;
  font-family: sans-serif;
}

.project-sol-screen__block-title {
  font-size: 21px;
  font-weight: bold;
  padding-left: 7px;
  margin-bottom: 20px;
}

.project-sol-screen__block-desc {
  font-style: italic;
  font-size: 20px;
}

.slider-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
  padding: 10px 25px;
}

.slider-grid .tab-item {
  height: 260px;
  width: 100%;
  position: relative;
}

.slider-grid .tab-item picture,
.slider-grid .tab-item img {
  width: 100%;
  height: 100%;
}

.slider-grid .tab-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-grid .tab-item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffffb0;
  text-align: center;
  font-size: 26px;
  padding: 15px;
  font-weight: bold;
  color: #595959;
  display: grid;
  place-items: center;
}

.light-projects-screen .h2 {
  margin-bottom: 70px;
}

.light-projects-screen .slider-grid .tab-item {
  height: 200px;
}

.light-projects-screen .slider-grid .tab-item__title {
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .big-title__main {
    font-size: 3.7vw;
  }

  .big-title__subtitle {
    width: 80%;
  }

  .production-screen__description {
    width: 100%;
    right: 0;
    margin-bottom: 20px;
  }

  .production-screen .pic-grid {
    gap: 20px 40px;
  }

  .production-screen__desc-2 {
    grid-row: 2/3;
    margin: 0;
  }

  .assortment-screen .content-wrapper {
    width: 95%;
  }

  .assortment-screen__grid {
    grid-template-columns: 1fr 1fr;
  }

  .assortment-screen__download {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .slider-grid .tab-item__title {
    font-size: 3vw;
  }

  .light-projects-screen .h2 {
    margin-bottom: 10px;
  }

  .light-projects-screen .slider-grid .tab-item__title {
    font-size: 2.5svw;
  }
}

@media screen and (max-width: 568px) {
  .plain-title {
    margin: 30px 0 20px;
    font-size: 7vw;
  }

  .big-title__main {
    font-size: 6vw;
  }

  .big-title svg {
    height: 40px;
  }

  .main-screen__description {
    width: 80%;
    font-size: 15px;
  }

  .main-screen .h1 {
    font-size: 9vw;
  }

  .main-screen .h1 .company-name {
    font-size: 11vw;
  }

  .production-screen__description {
    margin: 10px 0;
  }

  .production-screen .pic-grid {
    grid-template-columns: 100%;
  }

  .production-screen__lamps {
    padding-left: 0;
  }

  .production-screen__desc-1 {
    width: 100%;
  }

  .production-screen__desc-2 {
    grid-column: 1/2;
  }

  .assortment-screen .h2 {
    font-size: 5.5vw;
  }

  .project-sol-screen {
    margin-bottom: 40px;
  }

  .project-sol-screen__block {
    grid-template-columns: 100%;
  }

  .project-sol-screen__block img,
  .project-sol-screen__block picture {
    border-radius: 0;
    grid-row: 2/3;
  }

  .slider-grid .tab-item {
    padding: 0 10px;
  }

  .slider-grid .tab-item__title {
    font-size: 4vw;
  }
}
@supports (-webkit-appearance:none){
.main-screen{background-image:url(../img/1.webp)}
}

 @media screen and (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}
