@import "fonts.sass"
    
/* Экраны */
$desktop: 1280px
$tablet: 900px
$mobile: 568px
$small-mobile: 360px

/* Цвета */
$dark: #333333;
$yellow: #F4E9BF;
$red: #DA5C3E;
$light: #FFF9E2;
$light-grey: #E5E5E5;
$grey: #828282;





/*Общие стили*/
*
    box-sizing: border-box
    
body
    margin: 0
    padding: 0
    overflow-x: hidden
    font-family: 'Futura New'

.container
    padding: 0 92px
h1
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;

h2
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

.horiz-h
    position: relative
    &::before
        position: absolute
        top: 50%
        left: -87px
        content: ''
        width: 70px
        height: 3px
        background-color: $red

    &__subtitle
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $red

.vert-h
    position: relative
    padding-top: 91px
    margin-bottom: 42px
    &::before
        position: absolute
        top: 0
        left: -87px
        content: ''
        width: 20px
        height: 251px
        background-color: $dark


.btn
    border-radius: 10px;        

img
    border-radius: 20px 0px;

.card
    border: none
    &-body
        padding: 32px 0
        max-width: 321px

    &-title
        text-decoration: underline
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        a
            color: black

    &-text
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

    &-price
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;


    
    &--new
        &::after
            top: 3rem
            position: absolute
            content: "НОВИНКА"
            padding: 8px 16px
            right: -16px
            background-color: $red
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            color: white


picture
    display: grid

.yellow
    color: $yellow