/* Экраны */
$desktop: 1280px
$tablet: 1024px
$mobile: 768px


/* Цвета */
$grey: #7f7f7f
$dark-grey: #595959


/*Общие стили*/
*
    box-sizing: border-box
    
body
    font-family: sans-serif;

    margin: 0
    padding: 0

.screen
    height: 90vh
    display: grid

.container
    height: 100%
    max-width: 100%
    width: 1000px
    margin: 0 auto

picture
    display: grid

.plain-text
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold
    line-height: 1.4

.plain-text-2

    font-size: 20.5px;
    font-family: sans-serif;
    line-height: 1.4

.plain-title
    font-size: 34px
    color: $grey
    font-family: sans-serif

.big-title
    display: flex
    align-items: center
    font-size: 41px
    font-family: sans-serif
    text-transform: uppercase
    gap: 15px
    color: $grey
    svg
        height: 60px    
        width: 74px

    &__subtitle
        font-size: 20px
        width: 40%
        margin-left: auto

